@import"ESTILOS/PRINCIPALES";

/* INICIO DE NAV */
.navbar-brand{
    font-size: 50px;
}
.container-fluid{
    font-size: 40px;
}
.nav-link:hover{
    color: gold;
    transition: all 0.9s;
    transform: scale(1.1);
}
span{
    color: gold;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* FIN DE NAV */
// INICIO DE CARRUCEL \\
.carousel-item img {
    margin-top: 3%; 
}

.card-text{
    font-family: $font2;
    font-size: 20px;
    padding: 0 3%;
}

h2{
    margin-top: 5%;
    font-size: 40px;
    font-family: $font1;
}

// FIN DE CARRUCEL \\
body{
    background-color: gray;
}

@media screen{
    @include media;
}