@import"ESTILOS/PRINCIPALES";

@include nav;

.carousel-item img {
    margin-top: 3%; 
}

.card-text{
    font-family: $font2;
    font-size: 20px;
    padding: 0 3%;
}

h2{
    margin-top: 5%;
    font-size: 40px;
    font-family: $font1;
}

body{
    background-color: gray;
}

.card{
    margin: 10%;
    height: auto;
    width: 100vh;
    background-color: $fondo1;
}
.card-img-top{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


@media screen and (max-width: 600px) {
    .card{
        width: 300px;
        height: auto;
    }
    .card-img-top{
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    .carousel{
        height: auto;
        align-items: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .carousel{
        width: auto;
        align-items: center;
    }
    .card{
        width: auto;
        height: auto;
    }
}