@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


$font1: "Archivo Black", "archivo-black";
$font2: "Espectral", "spectral-extralight";

$fondo1: #ccc;


@mixin pre{
    
    width: 80%;
    margin: 0 auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-top: 4%;
    font-size: 20px;
}

@mixin media{
    @media (max-width: 576px) {
 
        .navbar-nav {
            flex-direction: column;
        }
        .navbar-nav .nav-item {
            text-align: center;
        }
    }
    
    
    @media (min-width: 577px) and (max-width: 992px) {
        .navbar-nav {
            flex-direction: row;
        }
        .navbar-nav .nav-item {
            text-align: center;
        }
    }
    
    
    @media (min-width: 993px) {
        .navbar-nav {
            flex-direction: row;
        }
        .navbar-nav .nav-item {
            text-align: center;
        }
    }
}

@mixin grid{
    @media screen and (max-width: 1200px) {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "redes redes";
        }
    }
    
    @media screen and (max-width: 768px) {
        .container {
            grid-template-columns: 1fr;
            grid-template-areas: "redes";
        }
    }
}