@import"PRINCIPALES";

@include nav;

body{
    background-color: $fondo1;
}
h1{
    font-family: $font1;
}
PRE{
   @include pre
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "redes redes redes";
    height: 200px;
    width: auto;
    font-size: 40px;
}
a{
    color: rgb(255, 217, 0);
}

@media screen {
    @include media;
}

@media screen{
    @include grid;
}