@import"PRINCIPALES";

@include nav;

body{
    background-color: $fondo1;
}
h1{
    margin: 3%;
    font-family: $font1;
}
PRE{
    @include pre
}
#mapa{
    display: flex;
    justify-content: center;
}

@media screen{
    @include media;
}